body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('img/That\ Was\ final\ bg.png');
    background-position: center;
}
video {
    width: 840px;
}

h4,
p {
    color: rgb(86, 233, 169);
}